/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

pre.highlight { background-color: #002b36; color: #93a1a1 }
pre.highlight .c { color: #586e75 } /* Comment */
pre.highlight .err { color: #93a1a1 } /* Error */
pre.highlight .g { color: #93a1a1 } /* Generic */
pre.highlight .k { color: #859900 } /* Keyword */
pre.highlight .l { color: #93a1a1 } /* Literal */
pre.highlight .n { color: #93a1a1 } /* Name */
pre.highlight .o { color: #859900 } /* Operator */
pre.highlight .x { color: #cb4b16 } /* Other */
pre.highlight .p { color: #93a1a1 } /* Punctuation */
pre.highlight .cm { color: #586e75 } /* Comment.Multiline */
pre.highlight .cp { color: #859900 } /* Comment.Preproc */
pre.highlight .c1 { color: #586e75 } /* Comment.Single */
pre.highlight .cs { color: #859900 } /* Comment.Special */
pre.highlight .gd { color: #2aa198 } /* Generic.Deleted */
pre.highlight .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
pre.highlight .gr { color: #dc322f } /* Generic.Error */
pre.highlight .gh { color: #cb4b16 } /* Generic.Heading */
pre.highlight .gi { color: #859900 } /* Generic.Inserted */
pre.highlight .go { color: #93a1a1 } /* Generic.Output */
pre.highlight .gp { color: #93a1a1 } /* Generic.Prompt */
pre.highlight .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
pre.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
pre.highlight .gt { color: #93a1a1 } /* Generic.Traceback */
pre.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
pre.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
pre.highlight .kn { color: #859900 } /* Keyword.Namespace */
pre.highlight .kp { color: #859900 } /* Keyword.Pseudo */
pre.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
pre.highlight .kt { color: #dc322f } /* Keyword.Type */
pre.highlight .ld { color: #93a1a1 } /* Literal.Date */
pre.highlight .m { color: #2aa198 } /* Literal.Number */
pre.highlight .s { color: #2aa198 } /* Literal.String */
pre.highlight .na { color: #93a1a1 } /* Name.Attribute */
pre.highlight .nb { color: #B58900 } /* Name.Builtin */
pre.highlight .nc { color: #268bd2 } /* Name.Class */
pre.highlight .no { color: #cb4b16 } /* Name.Constant */
pre.highlight .nd { color: #268bd2 } /* Name.Decorator */
pre.highlight .ni { color: #cb4b16 } /* Name.Entity */
pre.highlight .ne { color: #cb4b16 } /* Name.Exception */
pre.highlight .nf { color: #268bd2 } /* Name.Function */
pre.highlight .nl { color: #93a1a1 } /* Name.Label */
pre.highlight .nn { color: #93a1a1 } /* Name.Namespace */
pre.highlight .nx { color: #93a1a1 } /* Name.Other */
pre.highlight .py { color: #93a1a1 } /* Name.Property */
pre.highlight .nt { color: #268bd2 } /* Name.Tag */
pre.highlight .nv { color: #268bd2 } /* Name.Variable */
pre.highlight .ow { color: #859900 } /* Operator.Word */
pre.highlight .w { color: #93a1a1 } /* Text.Whitespace */
pre.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
pre.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
pre.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
pre.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
pre.highlight .sb { color: #586e75 } /* Literal.String.Backtick */
pre.highlight .sc { color: #2aa198 } /* Literal.String.Char */
pre.highlight .sd { color: #93a1a1 } /* Literal.String.Doc */
pre.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
pre.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
pre.highlight .sh { color: #93a1a1 } /* Literal.String.Heredoc */
pre.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
pre.highlight .sx { color: #2aa198 } /* Literal.String.Other */
pre.highlight .sr { color: #dc322f } /* Literal.String.Regex */
pre.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
pre.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
pre.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
pre.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
pre.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
pre.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
pre.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */
