    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">thumbs<span class="highlight">up</span></h2>
            <p class="intro">Static gallery generator for all your photos and videos</p>
            <img src="/images/hero.png" style="width: 100%; max-width: 30em; margin-bottom: 2em;" />
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/demo/default" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="/docs">Docs</a>
            </div>
        </div><!--//container-->
    </section><!--//promo-->
