    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Themes</h2>
            <p>
              Pick a theme for your gallery!
              Themes include navigation, album previews, photo/video pages and a media viewer.
              Customise your theme &amp; colors easily with extra CSS rules.
              Learn more about themes <a href="/docs/themes">in the docs</a>.
            </p>
            <div class="row theme-gallery">
              <!-- Default -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/theme-default.jpg" alt="Default theme">
                  <div class="theme-caption">Default</div>
              </div>
              <!-- Coming soon -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/theme-coming-soon.jpg" alt="New theme">
                  <div class="theme-caption">Coming soon...</div>
              </div>
              <!-- Coming soon -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/theme-coming-soon.jpg" alt="New theme">
                  <div class="theme-caption">Coming soon...</div>
              </div>
            </div>
        </div><!--//container-->
    </section><!--//features-->
